
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255, 0, 0, 0.4);
    display: inline-block;
}

#Blue-minisquare {
    width: 20px;
    height: 20px;
    color: rgb(252, 16, 232);
    padding: 20px;
    margin: 10px;
    font-size: 7px;
    background-color: rgba(7, 23, 250, 0.4);
    display: inline-block;
}

a { font-size: 22px;
    color: #F0F;
}

.cascading-parent h2{
    color: #FD0
}

.cascading-parent a {
    font-size: 32px;
    color: #CCC;
}

.cascading-parent {
    font-weight: Bold;
    color: #FFF;
}

.cascading-child {
    background-color: rgb(5, 5, 5);
    width: 200px;
    height: 200px;
    color: #FF0 !important;
}

.cascading-child2 {
    background-color: rgb(241, 6, 6) !important;
    width: 200px;
    height: 200px;
}
.cascading-child3 {
    color: #F08 !important;
}